.cursor{
  cursor: pointer;
}

.navbar {
  background-color: black !important;
  border-bottom: 0.02rem solid white !important;
  padding: 10px 0 !important;
}
.link {
  text-decoration: none !important;
}

.item-menu {
  color: white !important;
  cursor: pointer;
  position: relative;
}

.item-menu::after {
  content: "";
  height: 1px;
  width: 0%;
  background-color: white;
  position: absolute;
  left: 0;
  transition: 0.5s;
}

.item-menu:hover::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
}

.botao {
  color: grey !important;
  border: 1px solid grey !important;
  font-family: "Poppins" !important;
}
.botao:hover {
  color: white !important;
  border: 1px solid white !important;
}
