.card-posts{
  color: white !important;
  background-color: black !important;
  border: 1px solid white !important;
  border-radius: 0 !important;
}
.btnDeletar{
  color: white !important;
  background-color: rgba(170, 10, 5, 1) !important;
  border-color: rgba(170, 10, 5, 1) !important;
  font-weight: 700 !important;
}

.btnDeletar:hover{
  color: white !important;
  background-color: rgba(120, 10, 0, 1) !important;
}

.btnAtualizar{
  color: #212121 !important;
  background-color: white !important;
  font-weight: 700 !important;
}

.btnAtualizar:hover{
  color: white !important;
  border-color: white !important;
  background-color: #212121 !important;
}

.bodyText {
  font-weight: 100 !important;
  text-transform: lowercase !important;
}

.text-underline{
  text-decoration: underline !important;
}