.imagem2 {
  background-image: url("https://d3swacfcujrr1g.cloudfront.net/img/uploads/2016/04/Deus_e_o_diabo_cartaz.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  opacity: 0.5;
  filter: grayscale(1);
}

.btnCancelar{
  margin-right: 20px !important;
  color: white !important;
  border-color: rgba(170, 10, 5, 1) !important;
  font-weight: 700 !important;
}

.btnCancelar:hover{
  border-color: black !important;
  color: black !important;
  background-color: rgba(170, 10, 5, 1) !important;
}